<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sherpur_batch79.mdarifhasan2004.bango_shop">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
